<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet"> <!-- 載入bootstrap的CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet"> <!-- 載入教案提供的CSS -->
    <script src="https://kit.fontawesome.com/f14b18f8a8.js" crossorigin="anonymous"></script> <!-- 載入Font Awesome -->
    <title>餐廳清單</title>
</head>
<body>

  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <div class="pt-2" style="display: flex; justify-content: end;">
          <a href="/restaurants/new" class="interaction-icon btn" style="border: solid 1px;">
            <i class="fa-solid fa-plus"></i>
            <span style="font-weight: 600;">新增餐廳</span>
          </a>
        </div>
      </div>
      
    </nav>
  
    <div class="banner"></div>
  </header>
  {{{body}}} 
  <script src="/javascripts/bootstrap.js"></script> <!-- 載入bootstrap的JS -->
</body>
</html>